<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		  <listener class-name="com.framaework.commonutilites.RetryListenerClass"/>
		   <listener class-name="com.framaework.commonutilites.Listener"/>
	</listeners>
  <test thread-count="1" name="Test">
    <classes>
      <class name="com.framework.test.TestSnapdeal"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
